In [1]:
import sys
import os
from collections import defaultdict
import numpy as np
import pandas as pd
from scipy import stats
import re

In [2]:
cs_file = r"data\input\gradcafe_data-master\cs\cs_clean.csv"

df = pd.read_csv(cs_file, header=None)

all_columns = ["rowid", "uni_name", "major", "degree", "season", "decision",
               "decision_method", "decision_date", "decision_timestamp", 
               "ugrad_gpa", "gre_verbal", "gre_quant", "gre_writing", "is_new_gre", "gre_subject", 
               "status", "post_data", "post_timestamp", "comments"]

df.columns = all_columns

In [4]:
len(df["uni_name"])

27822

In [7]:
columns = ['uni_name', 'major', 'degree', 'season', 'decision', 'ugrad_gpa', 'gre_verbal', 'gre_quant', 
           'gre_writing', 'is_new_gre', 'gre_subject', 'status']

df.head()

,rowid,uni_name,major,degree,season,decision,decision_method,decision_date,decision_timestamp,ugrad_gpa,gre_verbal,gre_quant,gre_writing,is_new_gre,gre_subject,status,post_data,post_timestamp,comments
0,0,Tufts University,CS,PhD,S16,Accepted,E-mail,16-11-2015,1.447650e+09,3.6,166.0,163.0,4.5,True,NaN,American,16-11-2015,1447650000,Met with professor beforehand. 1 year academic...
1,1,SUNY Stony Brook,CS,MS,S16,Rejected,E-mail,14-11-2015,1.447477e+09,3.5,144.0,167.0,3.0,True,NaN,International,14-11-2015,1447477200,non CS background
2,2,Columbia University,CS,MS,S16,Other,Other,14-11-2015,1.447477e+09,NaN,NaN,NaN,NaN,NaN,NaN,International,14-11-2015,1447477200,So there was no actual Nov 15 deadline? Or did...
3,3,Columbia University,CS,PhD,S16,Other,Other,13-11-2015,1.447391e+09,NaN,NaN,NaN,NaN,NaN,NaN,International,13-11-2015,1447390800,I haven't found the website with the deadline ...
4,4,Columbia University,CS,MS,S16,Other,Other,13-11-2015,1.447391e+09,NaN,NaN,NaN,NaN,NaN,NaN,Other,13-11-2015,1447390800,Thanks guys! Good to know I'm not the only one...

In [8]:
df.describe()

,rowid,decision_timestamp,ugrad_gpa,gre_verbal,gre_quant,gre_writing,gre_subject,post_timestamp
count,27822.000000,2.780500e+04,7222.000000,8493.000000,8493.000000,8248.000000,262.000000,2.782200e+04
mean,13910.500000,1.325873e+09,3.698129,288.676439,343.097021,3.863227,800.305344,1.326125e+09
std,8031.663931,7.862555e+07,0.646575,213.479164,277.912011,0.725768,90.468673,7.842295e+07
min,0.000000,4.013424e+08,0.900000,133.000000,136.000000,2.000000,200.000000,1.139375e+09
25%,6955.250000,1.267679e+09,3.500000,154.000000,163.000000,3.500000,750.000000,1.267679e+09
50%,13910.500000,1.331096e+09,3.700000,161.000000,168.000000,4.000000,820.000000,1.331226e+09
75%,20865.750000,1.394510e+09,3.870000,480.000000,740.000000,4.500000,860.000000,1.394770e+09
max,27821.000000,1.576386e+09,9.990000,800.000000,800.000000,6.000000,990.000000,1.447650e+09

In [39]:
def get_valid_data(tmp):
    return tmp[(tmp["ugrad_gpa"]>=0)
            & (tmp["ugrad_gpa"]<=4.0)
            & (tmp["gre_verbal"]>=130)
            & (tmp["gre_verbal"]<=170)
            & (tmp["gre_quant"]>=130)
            & (tmp["gre_quant"]<=170)
            & (tmp["gre_writing"]>=0.0)
            & (tmp["gre_writing"]<=6.0)
           ]

def get_percentile_score(tmp, my_ugrad_gpa, my_gre_verbal, my_gre_quant, my_gre_writing):  
    ugrad_gpa_x = stats.percentileofscore(tmp.ugrad_gpa, my_ugrad_gpa)
    gre_verbal_x = stats.percentileofscore(tmp.gre_verbal, my_gre_verbal)
    gre_quant_x = stats.percentileofscore(tmp.gre_quant, my_gre_quant)
    gre_writing_x = stats.percentileofscore(tmp.gre_writing, my_gre_writing)
    
    return ugrad_gpa_x, gre_verbal_x, gre_quant_x, gre_writing_x

def get_match_scores(df, uni_names, my_ugrad_gpa, my_gre_verbal, my_gre_quant, my_gre_writing):
    uni_match = {}
    
    for uni in uni_names:
        tmp = df[(df["uni_name"]==uni)]
        
        tmp = get_valid_data(tmp)
        
        ugrad_gpa_x, gre_verbal_x, gre_quant_x, gre_writing_x = get_percentile_score(tmp,
                                                                                       my_ugrad_gpa, 
                                                                                       my_gre_verbal, 
                                                                                       my_gre_quant, 
                                                                                       my_gre_writing)

        if len(tmp)>0:
            uni_match[uni] = (ugrad_gpa_x + gre_verbal_x + gre_quant_x + gre_writing_x)/4

        uni_match = sorted(uni_match.items(), key=lambda kv: kv[1], reverse=True)
        uni_match = dict(uni_match)
    
    return uni_match

def get_best_match_univ(uni_match, count):
    i = 0
    for uni in uni_match:
        print("{} : {}".format(uni, uni_match[uni]))
        if count>0 and i==count-1:
            break
        i += 1

In [40]:
def get_university_match_score(tmp, uni, my_ugrad_gpa, my_gre_verbal, my_gre_quant, my_gre_writing, details=False):
    tmp = tmp[(tmp["uni_name"]==uni)]
    tmp = get_valid_data(tmp)    
    
    print("Undergrad GPA")
    print("-"*30)
    print("Percentile             : {}%".format(stats.percentileofscore(tmp.ugrad_gpa, my_ugrad_gpa)))
    if details:
        print("Min                : {} ".format(tmp.ugrad_gpa.min()))
        print("Max                : {} ".format(tmp.ugrad_gpa.max()))
        print("Mean               : {} ".format(tmp.ugrad_gpa.mean()))
        print("Standard Deviation : {} ".format(tmp.ugrad_gpa.std()))

    print("\nGRE Verbal")
    print("-"*30)
    print("Percentile             : {}%".format(stats.percentileofscore(tmp.gre_verbal, my_gre_verbal)))
    if details:
        print("Min                : {} ".format(tmp.gre_verbal.min()))
        print("Max                : {} ".format(tmp.gre_verbal.max()))
        print("Mean               : {} ".format(tmp.gre_verbal.mean()))
        print("Standard Deviation : {} ".format(tmp.gre_verbal.std()))

    print("\nGRE Quant")
    print("-"*30)
    print("Percentile             : {}%".format(stats.percentileofscore(tmp.gre_quant, my_gre_quant)))
    if details:
        print("Min                : {} ".format(tmp.gre_quant.min()))
        print("Max                : {} ".format(tmp.gre_quant.max()))
        print("Mean               : {} ".format(tmp.gre_quant.mean()))
        print("Standard Deviation : {} ".format(tmp.gre_quant.std()))

    print("\nGRE Writing")
    print("-"*30)
    print("Percentile             : {}%".format(stats.percentileofscore(tmp.gre_writing, my_gre_writing)))
    if details:
        print("Min                : {} ".format(tmp.gre_writing.min()))
        print("Max                : {} ".format(tmp.gre_writing.max()))
        print("Mean               : {} ".format(tmp.gre_writing.mean()))
        print("Standard Deviation : {} ".format(tmp.gre_writing.std()))
    
    
def get_university_match_stat(tmp, uni):
    tmp = tmp[(tmp["uni_name"]==uni)]
    tmp = get_valid_data(tmp)    
    
    print("Undergrad GPA")
    print("-"*30)
    print("Min: {}".format(tmp.ugrad_gpa.min()))
    print("Max: {}".format(tmp.ugrad_gpa.max()))
    print("25%: {}".format(tmp.ugrad_gpa.quantile(0.25)))
    print("50%: {}".format(tmp.ugrad_gpa.quantile(0.5)))
    print("75%: {}".format(tmp.ugrad_gpa.quantile(0.75)))
    print("Mean: {}".format(tmp.ugrad_gpa.mean()))
    print("Std: {}".format(tmp.ugrad_gpa.std()))

    print("\nGRE Verbal")
    print("-"*30)
    print("Min: {}".format(tmp.gre_verbal.min()))
    print("Max: {}".format(tmp.gre_verbal.max()))
    print("25%: {}".format(tmp.gre_verbal.quantile(0.25)))
    print("50%: {}".format(tmp.gre_verbal.quantile(0.5)))
    print("75%: {}".format(tmp.gre_verbal.quantile(0.75)))
    print("Mean: {}".format(tmp.gre_verbal.mean()))
    print("Std: {}".format(tmp.gre_verbal.std()))

    print("\nGRE Quant")
    print("-"*30)
    print("Min: {}".format(tmp.gre_quant.min()))
    print("Max: {}".format(tmp.gre_quant.max()))
    print("25%: {}".format(tmp.gre_quant.quantile(0.25)))
    print("50%: {}".format(tmp.gre_quant.quantile(0.50)))
    print("75%: {}".format(tmp.gre_quant.quantile(0.75)))
    print("Mean: {}".format(tmp.gre_quant.mean()))
    print("Std: {}".format(tmp.gre_quant.std()))

    print("\nGRE Writing")
    print("-"*30)
    print("Min: {}".format(tmp.gre_writing.min()))
    print("Max: {}".format(tmp.gre_writing.max()))
    print("25%: {}".format(tmp.gre_writing.quantile(0.25)))
    print("50%: {}".format(tmp.gre_writing.quantile(0.50)))
    print("75%: {}".format(tmp.gre_writing.quantile(0.75)))
    print("Mean: {}".format(tmp.gre_writing.mean()))
    print("Std: {}".format(tmp.gre_writing.std()))

In [41]:
status_list = ['American', 'International', 'International with US Degree', 'Other', np.nan]
decision_list = ['Accepted', 'Interview', 'Other', 'Rejected', 'Wait listed', np.nan]
uni_names = list(set(df.uni_name))
uni_names.sort()
uni_names

['ABC',
 'AT&T Labs Fellowship Program (ALFP)',
 'Aalto University',
 'Aberystwyth University',
 'Al.I.Cuza University',
 'Aligarh Muslim University',
 'All University Applicant',
 'American University Of Beirut',
 'Amherst College',
 'Anna University',
 'Arizona State University (ASU)',
 'Auburn University',
 'Austin, Cornell, Gatech, UMich, UToronto',
 'Austin, Cornell, Gatech, UMinn, TAMU, Stonybrook',
 'Bangladesh University Of Enginnering And Technology',
 'Bank Street College Of Education',
 'Baylor University',
 'Beijing Institute Of Technology',
 'Birla Institute Of Technology And Science (BITS)',
 'Boston University (BU)',
 'Brandeis University',
 'Brigham Young University',
 'Brock University',
 'Brown University',
 'CSUN',
 'CUNY',
 'Cal Poly Pomona',
 'Cal Poly San Luis Obispo',
 'California Institute Of Technology (Caltech)',
 'California School Of Professional Psychology',
 'California State University, Chico',
 'California State University, Fullerton',
 'California State University, Long Beach',
 'Canadian Universities',
 'Carleton University',
 'Carnegie Mellon University (CMU)',
 'Case Western Reserve University (CWRU)',
 'Catholic University Of America',
 'Children Music School',
 'Clarkson University',
 'Clemson University',
 'College Of William & Mary',
 'Colorado School Of Mines (CSM)',
 'Colorado State University (CSU)',
 'Columbia University',
 'Communication University Of China',
 'Computer Network Information Center, CAS',
 'Concordia University',
 'Cornell Tech',
 'Cornell University',
 'Cornell, UCSB, UCSD',
 'Cusa',
 'DOE SCGF',
 'Dalhousie University',
 'Dartmouth College',
 'DePaul University',
 'Dead Lock University',
 'Delaware, Lehigh, UConn, Notre Dame',
 'Delhi College Of Engineering',
 'Drexel University',
 'Duke University',
 'ETH Zurich',
 'East Stroudsburg University Of Pennsylvania',
 'Ecole Polytechnique Federale De Lausanne (EPFL)',
 'Emory University',
 'Erasmus Mundus',
 'FFSEAS',
 'Fairleigh Dickinson University',
 'Florida Atlantic University (FAU)',
 'Florida Institute Of Technology',
 'Florida International University (FIU)',
 'Florida State University (FSU)',
 'Fordham University',
 'Fudan University',
 'GTU',
 'George Mason University (GMU)',
 'George Washington University (GWU)',
 'Georgetown University',
 'Georgia Institute Of Technology (GTech)',
 'Georgia State University (GSU)',
 'Graveyard University',
 'Harvard University',
 'Hong Kong University (HKU)',
 'IST Austria',
 'ITT Technical Institute',
 'Illinois Institute Of Technology',
 'Imperial College London (ICL)',
 'Indian Institute Of Science',
 'Indian Institute Of Technology (IIT)',
 'Indian Institute Of Technology, Bombay (IIT Bombay)',
 'Indian Institute Of Technology, Delhi (IIT Delhi)',
 'Indian Institute Of Technology, Guwahati (IIT Guwahati)',
 'Indian Institute Of Technology, Hyderabad (IIT Hyderabad)',
 'Indian Institute Of Technology, Jodhpur (IIT Jodhpur)',
 'Indian Institute Of Technology, Kharagpur (IIT Kharagpur)',
 'Indian Institute Of Technology, Mandi (IIT Mandi)',
 'Indian Institute Of Technology, Patna (IIT Patna)',
 'Indiana University - Purdue University Indianapolis (IUPUI)',
 'Indiana University Of Pennsylvania',
 'Indiana University, Bloomington',
 'Institute Of Science And Technology Austria',
 'Intel Visual Computing Institute',
 'International Institute Of Information Technology, Hyderabad (IIIT Hyderabad)',
 'Iowa State University (ISU)',
 'Jariwala Atit',
 'Jinggangshan University',
 'Jntu',
 'Johns Hopkins University (JHU)',
 'KFUPM',
 'KTH Royal Institute Of Technology',
 'Kansas State University',
 'Kansas University',
 'Kent International',
 'Kent State University',
 'King Abdullah University Of Science And Technology (KAUST)',
 'Kingston University, London',
 'Kinh Te',
 'Koneru Lakshamiah College Of Engineering',
 'LA Collage',
 'Lahore University Of Management Sciences',
 'Lakehead University',
 'Lawrence Technological University',
 'Lehigh University',
 'Louisiana State University',
 'Louisville',
 'Loyola Marymount',
 'MPI-SWS',
 'MPSTME, NMIMS University',
 'Masdar Institute Of Science And Technology',
 'Massachusetts Institute Of Technology (MIT)',
 'Max Planck',
 'Max Planck Institute For Computer Science',
 'Max Planck Institute For Informatics',
 'Max Planck Institute For Software Systems',
 'McGill Unviversity',
 'McMaster University',
 'Memorial University Of Newfoundland (MUN)',
 'Miami University, Ohio',
 'Michigan State University (MSU)',
 'Michigan Technological University (MTU)',
 'Mills College',
 'Mississippi State University',
 'Missouri University Of Science And Technology',
 'Monmouth University',
 'Morgan State University',
 'Most Of The Schools',
 'Mumbai University',
 'NASA Aeronautics Scholarship Program (ASP)',
 'NDSEG Fellowship',
 'NMAMIT',
 'NPSC National Physical Sciences Consortium',
 'NSF Graduate Research Fellowship (NSF GRFP)',
 'NYU, Columbia',
 'NYU, Cornell, Northwestern',
 'Nanyang Technological University (NTU)',
 'National Institute Of Technology',
 'National University Of Singapore (NUS)',
 'Naval Postgraduate School',
 'New Jersey Institute Of Technology (NJIT)',
 'New Mexico State University',
 'New York University (NYU)',
 'Nie',
 'Nor',
 'North Carolina State University (NCSU)',
 'North Caroline State University (NCSU)',
 'North Dakota State University',
 'Northeastern University',
 'Northern Illinois University',
 'Northern Ottowa University',
 'Nothwestern University',
 'Oakland University',
 'Ocean University',
 'Office Of Science Graduate Fellowship SCGF',
 'Ohio State University (OSU)',
 'Ohio State University, Columbus (OSU)',
 'Ohio University, Athens',
 'Oklahoma State University',
 'Old Dominion University',
 'Oregon State University',
 'Other',
 'Pacific Western University',
 'Peking University',
 'Pennsylvania State University (Penn State)',
 'Pennsylvania State University (PennState)',
 'Pennsylvania State University, Harrisburg (Penn State)',
 'Politecnico Di Milano',
 'Portland State University',
 'Princeton University',
 'Pune Institute Of Computer Technology',
 'Purdue University',
 'Queens University',
 'RMIT',
 'RWTH Aachen',
 'Rajshahi University Of Engineering & Technology (RUET)',
 'Rensselaer Polytechnic Institute (RPI)',
 'Rice University',
 'Rochester Institute Of Technology (RIT)',
 'Royal Holloway University Of London',
 'Rutgers University',
 'Ryerson University',
 'SINGA Fellowship',
 'SMART Fellowship',
 'SUNY Albany',
 'SUNY Binghamton',
 'SUNY Buffalo',
 'SUNY Korea',
 'SUNY New Paltz',
 'SUNY Oswego',
 'SUNY Stony Brook',
 'SVA',
 'Saarland University',
 'Sacramento State University',
 'San Diego State University (SDSU)',
 'San Francisco State University (SFSU)',
 'San Jose State University (SJSU)',
 'Santa Clara University',
 'School Of Visual Arts (SVA)',
 'Seattle University',
 'Seoul National University (SNU)',
 'Shenzhen University',
 'Shri Sant Gajanan Maharaj College Of Engineering',
 'Simon Fraser University (SFU)',
 'Sophia Secondary School',
 'South Carolina, Colombia',
 'Southern Illinois University, Carbondale',
 'Southern Illinois University, Edwardsville (SIUE)',
 'Southern Methodist University',
 'Stanford University',
 'State Univirsity Of Southern Connecticut',
 'Stevens Institute Of Technology (SIT)',
 'Swansea University',
 'Syracuse University',
 'TU Delft',
 'TU Munich',
 'Technical University Eindhoven',
 'Technical University Of Kaiserslautern',
 'Temple University',
 'Texas A&M University, College Station (TAMU)',
 'Texas A&M University, Kingsville (TAMU)',
 'Texas State University',
 'Texas Tech University',
 'The Catholic University Of America',
 'The Chinese University Of Hong Kong',
 'The Institute Of Science And Technology Austria (IST Austria)',
 'The International Max Planck Research School For Computer Science',
 'The Max Planck Institute For Informatics',
 'Thulla University',
 'To All Applicants',
 'Towson University',
 'Toyota Technological Institute At Chicago (TTIC)',
 'Tsinghua University',
 'Ttcmyn.gov.bd',
 'Tufts University',
 'U',
 'UNT',
 'USC, UCI, UCSD, UIUC, Columbia',
 'University College London',
 'University Of Alabama, Birmingham',
 'University Of Alabama, Huntsville',
 'University Of Alabama, Tuscaloosa',
 'University Of Alberta',
 'University Of Arizona',
 'University Of Arkansas, Fayetteville',
 'University Of Birmingham',
 'University Of Bristol',
 'University Of British Columbia',
 'University Of British Columbia (UBC)',
 'University Of Calgary',
 'University Of California, Berkeley (UCB)',
 'University Of California, Davis (UCD)',
 'University Of California, Irvine (UCI)',
 'University Of California, Los Angeles (UCLA)',
 'University Of California, Merced',
 'University Of California, Riverside',
 'University Of California, Riverside (UCR)',
 'University Of California, San Diego (UCSD)',
 'University Of California, San Francisco (UCSF)',
 'University Of California, Santa Barbara (UCSB)',
 'University Of California, Santa Cruz (UCSC)',
 'University Of Cambridge',
 'University Of Central Florida (UCF)',
 'University Of Chicago (UChicago)',
 'University Of Cincinnati',
 'University Of Colorado, Boulder',
 'University Of Colorado, Colorado Springs',
 'University Of Colorado, Denver',
 'University Of Connecticut',
 'University Of Copenhagen',
 'University Of Delaware',
 'University Of Denver',
 'University Of Dhaka',
 'University Of Edinburgh',
 'University Of Florida, Gainesville (UFL)',
 'University Of Georgia',
 'University Of Glasgow',
 'University Of Hartford',
 'University Of Hawaii, Manoa',
 'University Of Helsinki',
 'University Of Houston',
 'University Of Idaho',
 'University Of Illinois, Chicago',
 'University Of Illinois, Chicago (UIC)',
 'University Of Illinois, Springfield',
 'University Of Illinois, Urbana-Champaign (UIUC)',
 'University Of Indiana, Bloomington',
 'University Of Iowa',
 'University Of Kansas',
 'University Of Kentucky',
 'University Of Leeds',
 'University Of Louisiana, Lafayette',
 'University Of Louisville',
 'University Of Maine',
 'University Of Manchester',
 'University Of Manitoba',
 'University Of Maryland, Baltimore County (UMBC)',
 'University Of Maryland, College Park (UMD)',
 'University Of Massachusetts, Amherst (UMass)',
 'University Of Massachusetts, Boston',
 'University Of Massachusetts, Dartmouth',
 'University Of Melbourne',
 'University Of Memphis',
 'University Of Miami',
 'University Of Michigan, Ann Arbor (UMich)',
 'University Of Michigan, Ann Arbor (Umich)',
 'University Of Minnesota',
 'University Of Minnesota, Twin Cities (UMN)',
 'University Of Mississippi',
 'University Of Missouri, Columbia',
 'University Of Missouri, Kansas City',
 'University Of Montreal',
 'University Of Nebraska, Lincoln',
 'University Of Nevada, Las Vegas',
 'University Of Nevada, Reno',
 'University Of New Brunswick',
 'University Of New Hampshire',
 'University Of New Mexico',
 'University Of New Mexico (UNM)',
 'University Of New South Wales (UNSW)',
 'University Of North Carolina, Chapel Hill (UNC)',
 'University Of North Carolina, Charlotte',
 'University Of North Dakota',
 'University Of North Texas',
 'University Of Notre Dame',
 'University Of Nottingham',
 'University Of Oklahoma',
 'University Of Ontario Institute Of Technology (UOIT)',
 'University Of Oregon',
 'University Of Ottawa',
 'University Of Oxford',
 'University Of Paderborn',
 'University Of Pennsylvania (UPenn)',
 'University Of Peradeniya, Sri Lanka',
 'University Of Pittsburgh',
 'University Of Rochester',
 'University Of Saarland',
 'University Of San Francisco',
 'University Of Santa Cruz',
 'University Of Saskatchewan',
 'University Of Sheffield',
 'University Of South Australia',
 'University Of South Carolina',
 'University Of South Dakota',
 'University Of South Florida (USF)',
 'University Of Southampton',
 'University Of Southern California (USC)',
 'University Of Sydney',
 'University Of Tennessee',
 'University Of Tennessee, Knoxville',
 'University Of Texas, Arlington',
 'University Of Texas, Austin (UT Austin)',
 'University Of Texas, Dallas (UT Dallas)',
 'University Of Texas, El Paso',
 'University Of Texas, San Antonio (UTSA)',
 'University Of Toronto (UofT)',
 'University Of Twente',
 'University Of Utah (UoU)',
 'University Of Vermont',
 'University Of Victoria',
 'University Of Virginia (UVA)',
 'University Of Warwick',
 'University Of Washington, Seattle (UW)',
 'University Of Waterloo',
 'University Of West Alabama',
 'University Of Western Ontario (UWO)',
 'University Of Wisconsin, Madison',
 'University Of Wyoming',
 'University of Central Florida (UCF)',
 'University of Missouri, Rolla',
 'University of New Mexico',
 'University of Pennsylvania (Upenn)',
 'University of Pittsburgh',
 'University of Washington, Seattle (UW)',
 'Unviersity Of California, Davis (UCD)',
 'Utah State University',
 'Valdosta State University',
 'Vanderbilt University',
 'Villanova University',
 'Virginia Commonwealth University (VCU)',
 'Virginia Tech',
 'Wake Forest University',
 'Waltersun Memorial Institute Of Technology',
 'Washington State University (WSU)',
 'Washington University, St. Louis (WUSTL)',
 'Wayne State University',
 'West Virginia University',
 'Western Michigan University',
 'Western Ontario',
 'Whatever School',
 'Wichita State University',
 'Worcester Polythchnic Institute (WPI)',
 'Wright State University',
 'Yale University',
 'Yildiz Technical University',
 'York University',
 'Zhengzhou University']

In [42]:
major = "CS"
degree = "PhD"
decision = "Accepted"
is_new_gre = True
status1 = 'International'
status2 = 'International with US Degree'
# season = "F15"


my_ugrad_gpa = 3.80
my_gre_verbal = 152
my_gre_quant = 162
my_gre_writing = 3.0

In [44]:
tmp = df[(df["major"]==major)
         & (df["degree"]==degree)
         & (df["decision"]==decision)
         & (df["is_new_gre"]==is_new_gre)
         & ((df["status"]==status1) | (df["status"]==status2))
#          & (df["season"]==season)
        ]

In [46]:
uni_match = get_match_scores(tmp, uni_names, my_ugrad_gpa, my_gre_verbal, my_gre_quant, my_gre_writing)

In [47]:
count = 100

get_best_match_univ(uni_match, count)

Florida Institute Of Technology : 100.0
North Dakota State University : 100.0
Towson University : 100.0
University Of Louisiana, Lafayette : 100.0
University Of Nebraska, Lincoln : 100.0
University Of North Carolina, Charlotte : 100.0
University Of Peradeniya, Sri Lanka : 100.0
Michigan Technological University (MTU) : 93.75
University Of Arkansas, Fayetteville : 93.75
University Of Kentucky : 87.5
Colorado School Of Mines (CSM) : 75.0
Florida State University (FSU) : 75.0
Louisville : 75.0
Michigan State University (MSU) : 75.0
Ohio State University, Columbus (OSU) : 75.0
Texas Tech University : 75.0
University Of California, Merced : 75.0
University Of Houston : 75.0
University Of Kansas : 75.0
University Of Louisville : 75.0
University Of New Mexico (UNM) : 75.0
University Of North Texas : 75.0
University Of Texas, Arlington : 75.0
University Of Texas, El Paso : 75.0
University Of Texas, San Antonio (UTSA) : 75.0
West Virginia University : 75.0
University Of Nevada, Reno : 72.5
Iowa State University (ISU) : 70.83333333333334
SUNY Albany : 70.83333333333334
Pennsylvania State University (Penn State) : 68.75
University Of Missouri, Columbia : 68.75
Vanderbilt University : 68.75
George Mason University (GMU) : 67.5
Boston University (BU) : 62.5
Colorado State University (CSU) : 62.5
University Of Alberta : 62.5
University Of Pittsburgh : 62.5
Utah State University : 62.5
University Of Cincinnati : 59.375
University Of Maryland, Baltimore County (UMBC) : 58.33333333333334
Washington State University (WSU) : 58.33333333333334
Yale University : 58.333333333333336
University Of Arizona : 57.5
Drexel University : 56.25
Oregon State University : 54.16666666666667
University Of Virginia (UVA) : 54.16666666666667
Indiana University, Bloomington : 54.166666666666664
Worcester Polythchnic Institute (WPI) : 54.166666666666664
Virginia Tech : 53.57142857142858
SUNY Buffalo : 52.77777777777778
University Of Utah (UoU) : 52.08333333333333
Ecole Polytechnique Federale De Lausanne (EPFL) : 51.5625
Brown University : 50.0
Florida International University (FIU) : 50.0
Illinois Institute Of Technology : 50.0
Lehigh University : 50.0
Max Planck Institute For Informatics : 50.0
New York University (NYU) : 50.0
Oklahoma State University : 50.0
University Of Alabama, Birmingham : 50.0
University Of British Columbia (UBC) : 50.0
University Of Colorado, Boulder : 50.0
University Of Georgia : 50.0
University Of Maryland, College Park (UMD) : 50.0
University Of Miami : 50.0
University Of Oklahoma : 50.0
University Of Oregon : 50.0
University Of Waterloo : 50.0
University of Central Florida (UCF) : 50.0
Waltersun Memorial Institute Of Technology : 50.0
Wayne State University : 50.0
Rutgers University : 47.916666666666664
University Of Central Florida (UCF) : 47.5
University Of Texas, Dallas (UT Dallas) : 46.875
SUNY Stony Brook : 45.0
University Of Illinois, Chicago (UIC) : 45.0
Toyota Technological Institute At Chicago (TTIC) : 43.75
University Of Florida, Gainesville (UFL) : 43.75
University Of California, Riverside (UCR) : 42.04545454545455
Northeastern University : 41.66666666666667
University Of Delaware : 41.66666666666667
University Of South Florida (USF) : 41.66666666666667
Duke University : 41.666666666666664
University Of California, Los Angeles (UCLA) : 41.07142857142857
Ohio State University (OSU) : 40.909090909090914
Rice University : 40.0
University Of Rochester : 40.0
Harvard University : 39.58333333333333
University Of Minnesota, Twin Cities (UMN) : 39.28571428571429
University Of California, Davis (UCD) : 39.285714285714285
North Caroline State University (NCSU) : 38.88888888888889
University Of California, Irvine (UCI) : 38.39285714285714
Arizona State University (ASU) : 37.5
George Washington University (GWU) : 37.5
Kansas State University : 37.5
Purdue University : 37.5
University Of California, San Diego (UCSD) : 37.5
University Of Iowa : 37.5
University Of Toronto (UofT) : 37.5
Texas A&M University, College Station (TAMU) : 34.375

In [52]:
uni = "Stanford University"
# uni = "Cornell University"
# uni = "Massachusetts Institute Of Technology (MIT)"

In [50]:
get_university_match_score(tmp, uni, my_ugrad_gpa, my_gre_verbal, my_gre_quant, my_gre_writing, details=False)

Undergrad GPA
------------------------------
Percentile             : 38.46153846153846%

GRE Verbal
------------------------------
Percentile             : 15.384615384615385%

GRE Quant
------------------------------
Percentile             : 15.384615384615385%

GRE Writing
------------------------------
Percentile             : 7.6923076923076925%